@use "../variables";

.activities {
    background-color: variables.$primary-color;
    width: 411px;
    height: 823px;
    display: flex;
    flex-direction: column;

    &__section {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    &__section-list {
        flex: 1;
        overflow-y: auto;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}